<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>page7</title>

    <style>
        .row{
            margin-left: 0;
            margin-right: 0;
        }

    </style>

    <link rel="shortcut icon" href="http://uwaterloo.ca/favicon.ico" type="image/vnd.microsoft.icon" />
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        function check() {
            var count=0;
            var realIndex = 0;
            for(var i=0;i<$('#page7 input').length;i++){
                if($($('#page7 input')[i])[0].type=='text'){
                    if($($('#page7 input')[i]).val().length>0){
                        count++;
                    }
                    realIndex++;
                }
                if($($('#page7 input')[i])[0].type=='radio'){
                    if($($('#page7 input')[i]).prop('checked')){
                        count++;
                    }
                    realIndex++;
                }
            }
            if(count == 1){
                window.location = 'page8';
            }
            else{
                alert("Please finish all the questions!");
            }
        }
    </script>


    <script type="text/javascript">
        function $$(id) {
            return document.getElementById(id)
        }
        var remain=5;
        function init() {
            $$("btn7").innerHTML="Next ("+(remain--)+" second)";
            if(remain>0){
                window.setTimeout(init,1000);
            }
            else{
                $$("btn7").disabled = false;
                $$("btn7").innerHTML = "Next";
            }
        }
    </script>

    <script>
    $(function () {
        var localMsg;
        if(window.localStorage.form7){
            localMsg=JSON.parse(window.localStorage.form7);
        }
        if(localMsg && localMsg.length>=1){
            var realIndex=0;
            for(var i=0;i<$('#page7 input').length;i++){
                if($($('#page7 input')[i])[0].type=='text'){
                    $($('#page7 input')[i]).val(localMsg[realIndex].text)
                    realIndex++;
                }else if($($('#page7 input')[i])[0].type=='radio'){
                    $($('#page7 input')[i]).prop('checked',localMsg[realIndex].radio)
                    realIndex++;
                }else if($($('#page7 input')[i])[0].type=='checkbox'){
                    $($('#page7 input')[i]).prop('checked',localMsg[realIndex].checkbox)
                    realIndex++;
                }
            }
            $("btn7").disabled = false;
            $("btn7").innerHTML = "Next";
        }
        $('#btn7').click(function () {
            var history=[];
            window.localStorage.form7='';
            for(var i=0;i<$('#page7 input').length;i++){
                if($($('#page7 input')[i])[0].type=='text'){
                    history.push({"text":$($('#page7 input')[i]).val()})
                }else if($($('#page7 input')[i])[0].type=='radio'){
                    history.push({"radio":$($('#page7 input')[i]).prop('checked') ? 'checked' :''})
                }else if($($('#page7 input')[i])[0].type=='checkbox'){
                    history.push({"checkbox":$($('#page7 input')[i]).prop('checked') ? 'checked' :''})
                }
            }
            window.localStorage.form7=JSON.stringify(history);
        })
    })
</script>
</head>



<body onload="init()">
<nav class="navbar navbar-default row" role="navigation">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
            <li><a  href="http://www.uwaterloo.ca"><img class="navbar-img" style="height: 50px" src="https://www.student.cs.uwaterloo.ca/~cs241/uwlogo2.gif" ></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="navbar-left" href="http://swag.cs.uwaterloo.ca" style="font-size: 150%">Software Architecture Group</a>
            </li>
        </ul>
        <div class="navbar-header">

            <a class="navbar-brand" href="javascript:void(0)" style="font-size: 250%">Android App Ad Preference Survey</a>
        </div>

    </div>
</nav>



<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-11">
<div class="row">
    <div class="col-md-6">
        <img src="/static/banner1.png" class="img-thumbnail" width="50%" height="50%">
    </div>
    <div class="col-md-6">
        <img src="/static/rect.png" class="img-thumbnail" width="50%" height="50%">
    </div>
</div>
<label for="position_mt">10. Which size of the mobile ads do you prefer?</label>
<form role="form" class="form-horizontal" id="page7">
    <!-- question 2: gender -->
    <div class="col-md-6">
        <div class="radio">
            <label for="mt_middle">
                <input type="radio" name="position_mt" id="mt_middle" value="mt_middle"> BANNER
            </label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="radio">
            <label for="mt_top">
                <input type="radio" name="position_mt" id="mt_top" value="mt_top"> MEDIUM_RECTANGLE
            </label>
        </div>
    </div>
    <div>
    <button type="button" id="btn7" disabled="disabled" style="width:150px;height:40px;font-size:14px;" onclick="check()">Next</button>
    </div>
</form>

         <ul class="pagination">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li class="active"><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li><a href="#">10</a></li>
            <li><a href="#">11</a></li>
            <li><a href="#">12</a></li>
            <li><a href="#">end</a></li>
        </ul>
</div>
</div>

</body>
</html>