<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>demographic</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        function $$(id) {
            return document.getElementById(id)
        }
        var remain=5;
        function init() {
            $$("btn4").innerHTML="Next ("+(remain--)+" second)";
            if(remain>0){
                window.setTimeout(init,1000);
            }
            else{
                $$("btn4").disabled = false;
                $$("btn4").innerHTML = "Next";
            }
        }
    </script>

    <script>
    $(function () {
        var localMsg;
        if(window.localStorage.form4){
            localMsg=JSON.parse(window.localStorage.form4);
        }
        if(localMsg && localMsg.length>=1){
            var realIndex=0;
            for(var i=0;i<$('#page2 input').length;i++){
                if($($('#page4 input')[i])[0].type=='text'){
                    $($('#page4 input')[i]).val(localMsg[realIndex].text)
                    realIndex++;
                }else if($($('#page4 input')[i])[0].type=='radio'){
                    $($('#page4 input')[i]).prop('checked',localMsg[realIndex].radio)
                    realIndex++;
                }else if($($('#page4 input')[i])[0].type=='checkbox'){
                    $($('#page4 input')[i]).prop('checked',localMsg[realIndex].checkbox)
                    realIndex++;
                }
            }
        }
        $('#btn4').click(function () {
            var history=[];
            window.localStorage.form4='';
            for(var i=0;i<$('#page4 input').length;i++){
                if($($('#page4 input')[i])[0].type=='text'){
                    history.push({"text":$($('#page4 input')[i]).val()})
                }else if($($('#page4 input')[i])[0].type=='radio'){
                    history.push({"radio":$($('#page4 input')[i]).prop('checked') ? 'checked' :''})
                }else if($($('#page4 input')[i])[0].type=='checkbox'){
                    history.push({"checkbox":$($('#page4 input')[i]).prop('checked') ? 'checked' :''})
                }
            }
            window.localStorage.form4=JSON.stringify(history);
        })
    })
</script>
</head>
<body onload="init()">
<div class="row">
    <div class="col-md-6">
        <img src="/static/banner1.png" class="img-thumbnail" width="50%" height="50%">
    </div>
    <div class="col-md-6">
        <img src="/static/large.png" class="img-thumbnail" width="50%" height="50%">
    </div>
</div>
<label for="position_mt">7. Which size of the mobile ads do you prefer?</label>
<form role="form" class="form-horizontal" id="page4">
    <!-- question 2: gender -->
    <div class="col-md-6">
        <div class="radio">
            <label for="mt_middle">
                <input type="radio" name="position_mt" id="mt_middle" value="mt_middle"> BANNER
            </label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="radio">
            <label for="mt_top">
                <input type="radio" name="position_mt" id="mt_top" value="mt_top"> LARGE_BANNER
            </label>
        </div>
    </div>
    <div>
    <button type="button" id="btn4" disabled="disabled" style="width:150px;height:40px;font-size:14px;" onclick="window.location='page5'">Next</button>
    </div>
</form>


<ul class="pagination">
    <li><a href="page3">&laquo;</a></li>
    <li ><a href="demographic">1</a></li>
    <li><a href="page2">2</a></li>
    <li><a href="page3">3</a></li>
    <li class="active">4</li>
    <li style="color:grey">5</li>
    <li style="color:grey">6</li>
    <li style="color:grey">7</li>
    <li style="color:grey">8</li>
    <li style="color:grey">9</li>
    <li style="color:grey">10</li>
    <li style="color:grey">11</li>
    <li style="color:grey">12</li>
    <li style="color:grey">13</li>
    <li style="color:grey">&raquo;</li>
</ul>

</body>
</html>